# Ignore virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Unit test / coverage results
.coverage
.tox/
.nox/
*.cover
.pytest_cache/
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Ignore .git directory
.git/

# Docker
Dockerfile
docker-compose.yml